@using ISEE.Resources
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="//code.angularjs.org/1.4.0/angular.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/Custom/LoginController.js"></script>

<div class="login_cover_background">
    <!---- today current changes--->
    <div class="login_oval" style="float:right;"></div>
    <!---- today current changes--->
</div>


<div class="container" ng-app="LoginDetails">

    <div class="col-md-4"></div>
    <div class="col-md-4 main_login" ng-controller="LoginCtrl">
        <label class="login_form_title">@ISEE.Resources.Resource.LogIn</label><label class="pull-right resionSEE_form_title">resionSEE</label>
        <form class="form-horizontal" role="form" method="post" novalidate name="login" ng-submit="Login(IsFormValid)">
            <div class="form-group">
                <label for="name" class="col-md-4 control-label">@ISEE.Resources.Resource.UserName</label>
                <div class="col-md-8">
                    <input type="text" class="form-control isee_login_input" id="name" name="name" placeholder="@ISEE.Resources.Resource.UserName" ng-model="LoginData.UserName" value="" required>
                    <span style="color:red" class="error_msg" ng-show="showValidation">*</span>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-md-4 control-label">@ISEE.Resources.Resource.Password</label>
                <div class="col-md-8">
                    <input type="password" class="form-control isee_login_input" id="password" name="password" placeholder="@ISEE.Resources.Resource.Password" ng-model="LoginData.Password">
                    <span style="color:red" class="error_msg" ng-show="showValidation">*</span>
                </div>
            </div>

            <div class="form-group login_save_data">

                <div class="col-md-4 col-xs-4">
                    <button type="submit" class="btn btn-default pull-left login_btn isee_button" ng-click="LoginFirst()">@ISEE.Resources.Resource.OK</button>
                </div>

                <div class="col-md-4 col-xs-4">
                    <button type="reset" class="btn btn-default pull-left login_btn isee_button">@ISEE.Resources.Resource.Cancel</button>
                </div>


                <div class="col-md-4 col-xs-4">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img ng-src="{{selectedImageUrl}}" />
                            <span class="caret">
                            </span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownLanguage">
                            <li ng-repeat="item in CountryCodeList">
                                <a ng-click="dropboxitemselected(item.LanguageNickname)">
                                    <img ng-src="{{item.ImageUrl}}" />
                                </a>
                            </li>
                        </ul>
                    </div>
                       @*<select name="language" class="form-control isee_button language_flag pull-right">
                        <option value="arabic">USA</option>
                        <option value="english">ISR</option>
                        <option value="french">RUS</option>
                        <option value="german">CHI</option>
                        <option value="other">MEX</option>
                        <option value="other">GER</option>
                    </select>*@
                </div>

            </div>
        </form>

    </div>
    <div class="col-md-4"></div>
</div>


