<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap-select.css" rel="stylesheet" media="screen" />
    <link href="~/Content/css/bootstrap-responsive-tabs.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="~/Content/css/main.css" rel="stylesheet" media="screen" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" media="screen" />



    @RenderSection("customcss", required: false)
</head>
<body>
    @*Header Section*@
    <div class="container isee_main_header">
        <div class="isee__header_image" id="navigation">
            <img src="~/images/header.png" class="img-responsive" />
        </div>
<div class="col-md-9 col-sm-8 isee_main_nav" id="navigation1">
            <div class="isee_top">
                <ul class="nav nav-tabs isee_responsive-tabs">
                    <li>
                        <a href="/employee/employee">
                            <div class="round_nav"><img src="~/images/employee_2new.png" class="img-rounded" /></div>
                            <p class="nav_title">Employee</p>
                        </a>
                    </li>

                    <li>
                        <a href="/Home/Customers">
                            <div class="round_nav"> <img src="~/images/folder.png" class="img-rounded" /></div>
                            <p class="nav_title">Customer</p>
                        </a>
                    </li>

                    <li>
                        <a href="/Home/Map">
                            <div class="round_nav"><img src="~/images/world.png" class="img-rounded" /></div>
                            <p class="nav_title">Map</p>
                        </a>
                    </li>


                    <li>
                        <a href="/Home/Reports">
                            <div class="round_nav"><img src="~/images/report.png" class="img-rounded" /></div>
                            <p class="nav_title">Reports</p>
                        </a>
                    </li>


                    <li>
                        <a href="/Home/About">
                            <div class="round_nav"><img src="~/images/question.png" class="img-rounded" /></div>
                            <p class="nav_title">About</p>
                        </a>
                    </li>


                    <li>
                        <a href="/Home/About1">
                            <div class="round_nav"><img src="~/images/Home.png" class="img-rounded" /></div>
                            <p class="nav_title">About</p>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

        <div class="col-md-3 col-sm-4 isee_rightside_menu" id="navigation2">
            <div class="isee_admin">
                <a href="/Home/admin_page" alt="">
                    <img src="~/images/settings_icon.png" class="control_icon admin_panel" title="admin" />
                </a>
            </div>
            <div class="isee_logout">
                <a href="/Home/login" alt="">
                    <img src="~/images/logout.png" class="control_icon" title="logout" />
                </a>
            </div>

            <div class="isee_logo">
                <img src="~/images/region_see.png" />
            </div>

        </div>
    </div>
    @*Content Section*@
    <div id="content" class="container main_content">@RenderBody()</div>
    @*Content Section End*@




    @*footer Section*@
    <div class="container isee_footer" id="navigation3">
        <div class="col-md-2 col-xs-12"></div>
        <div class="col-md-8 col-xs-12">
            <div class="isee_copyright">
                <div class="isee_footer_image">
                    <img src="~/images/footer_logo.png" />
                    copyright &copy; 2010
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-12"></div>
    </div>





    @*@Scripts.Render("~/bundles/jquery")*@
    @*<script src="~/Scripts/js/jquery.min.js"></script>*@
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/js/bootstrap-select.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>

